*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-image: url(/cycle/bg\ \(1\).jpg);
    width:100%;
    height:100vh;
    position:relative;
}
nav{
    display: flex;
    justify-content: space-between;
   
    align-items: center;
}
 .links{
    display: flex;
    justify-content: center;
    position:absolute;
     top:0px;
     left:50%;
     transform:translateX(-50%);

}
 .links div{
    color:rgb(42, 36, 36);
    text-transform: capitalize;
    font-size:1.4rem;
    margin-right:30px;   
    transition:all 1s ease-out;
padding:30px 6px 10px 6px;
border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
}
.links div:last-child{
    background-color:rgb(37, 35, 35);
    color:white;
}
.links div:hover{
    background-color:rgb(58, 49, 49);
    color:white;
    
}
nav .logo{
    width:80px;
    height:80px;
    overflow: hidden;
    margin-left:50px;
}
nav .logo img{
    width:100%;
    height:100%;
    margin:auto;
}
nav .burger{
    width:60px;
    height:auto;
    margin-right:50px;
}
nav .burger img{
    width:100%;
    margin:auto;
}

main{
    display: flex;
    justify-content:space-between;
    gap:50px;
    justify-content: center;
    text-align: right;
    align-content: center;
    padding:10px 50px;
   
}
main .img-cycle{
    width:50%;
    height:auto;
    transition: all 2s ease-out;
}
main .img-cycle img{
    width:100%;
    height:auto;
    transition: all 2s ease-out;
}
main .right-text{
    width:50%;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:right;
    gap:30px;
    margin-top:100px;
    
}
 
.right-text .heading{
    font-size:6rem;
    
    word-spacing:2.5rem;
}
.right-text .paragraph{
    font-size:1rem;
  
}
.right-text .button{
    background-color:rgb(10, 85, 60);
    color:white;
    text-transform:capitalize;
    display: inline-block;
   padding:10px;
    text-align: center;
    width:150px;
    align-self: flex-end;
     border-radius:20px;
     cursor:pointer;
}
.slider{
  display: flex;
  gap:20px;
  margin-left:50px;
  margin-top:20px;
  cursor:pointer;
} 
.slider .cycle{
    border:4px solid black;
    padding:20px;
}
.slider img{
    width: 100px;
    height:50px;
}
.active{
    background-color:white;
    transform:scale(1.2);
}
 